<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <img class="mx-auto h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Register for a new account</h2>
    <p class="mt-2 text-center text-sm text-gray-600">
      Or
      <a href="/users/sign_in" class="font-medium text-indigo-600 hover:text-indigo-500"> Login </a>
    </p>
    <%= render "devise/shared/error_messages", resource: resource %>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
        <div class="flex flex-col gap-1">
          <%= f.label :name, class: "block text-sm font-medium text-gray-700"%>
          <%= f.text_field :name, autofocus: true, class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
        </div>
        <div class="flex flex-col gap-1">
          <%= f.label :photo, class: "block text-sm font-medium text-gray-700"%>
          <%= f.text_field :photo, autofocus: true, class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
        </div>
        <div class="flex flex-col gap-1">
          <%= f.label :bio, class: "block text-sm font-medium text-gray-700"%>
          <%= f.text_area :bio, autofocus: true, class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
        </div>
        <div class="flex flex-col gap-1">
          <%= f.label :email, class: "block text-sm font-medium text-gray-700"%>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
        </div>
        <div>
        <div>
        <div class="flex flex-col gap-1">
          <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
          <%# if @minimum_password_length %>
<!--            <em>(<%#= @minimum_password_length %> characters minimum)</em>-->
<!--          <%# end %><br />-->
          <%= f.password_field :password, autocomplete: "new-password", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
        </div>
        <div class="flex flex-col gap-1">
          <%= f.label :password_confirmation, class: "block text-sm font-medium text-gray-700" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
        </div>
        <div class="mt-4">
          <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Sign up</button>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  </div>
</div>