<div class="relative bg-white drop-shadow-md p-4 mb-2">
  <h3 class="mb-2 text-sm font-bold"><%= post.title %> #<%= post.id %></h3>
  <h4>
    <%= post.text %>
  </h4>
  <p class="absolute right-4 bottom-2 text-xs text-stone-600 font-bold">Comments: <%= post.comments_count %>, Likes: <%= post.likes_count %></p>
</div>