<div class="grid grid-cols-6 mb-4">
  <div class="col-span-1">
    <%= link_to user_path(user) do %>
      <img src=<%= user.photo %> class="object-cover">
    <% end %>
  </div>
  <div class="relative col-span-5 bg-stone-600 px-4 flex flex-col justify-center">
    <h2 class="text-white md:text-lg"><%= user.name %> #<%= user.id %></h2>
    <p class="absolute right-4 bottom-2 text-white text-xs md:text-sm font-bold">Number of posts: <%= user.posts_count %></p>
  </div>
</div>